body {
  background-color: #444;
  background-image: url(664d3a08c6149d6cf647af304c96ab6a.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

